<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--  원래 클래스명은 패키지까지 포함하기때문에
너무 길어서 짧은 별명을 만들어서 접근하기 위해
기술한다  -->
	<typeAliases>
    	
   <typeAlias alias="DramaDto" type="com.semi.flix.drama.DramaDto"/>
   <typeAlias alias="MemberDto" type="com.semi.flix.member.MemberDto"/>	
   <typeAlias alias="VisitDto" type="com.semi.flix.visit.VisitDto"/>	
   <typeAlias alias="AdminMemberDto" type="com.semi.flix.admin.member.AdminMemberDto"/>

   <typeAlias alias="MovieBoardDto" type="com.semi.flix.admin.movieboard.MovieBoardDto"/>
   <typeAlias alias="ToonBoardDto" type="com.semi.flix.admin.toonboard.ToonBoardDto"/>
   <typeAlias alias="AniBoardDto" type="com.semi.flix.admin.aniboard.AniBoardDto"/>
   <typeAlias alias="EnterBoardDto" type="com.semi.flix.admin.enterboard.EnterBoardDto"/>
   <typeAlias alias="DramaBoardDto" type="com.semi.flix.admin.dramaboard.DramaBoardDto"/>
   <typeAlias alias="UserDto" type="com.semi.flix.admin.user.UserDto"/>
   <typeAlias alias="ReviewDto" type="com.semi.flix.admin.review.ReviewDto"/>
   <typeAlias alias="MailDto" type="com.semi.flix.admin.mail.MailDto"/>
   

    	
	</typeAliases>

	<mappers>
	  
		<mapper resource=	"/com/semi/flix/mapper/Drama.xml"/>
		<mapper resource=	"/com/semi/flix/mapper/Member.xml"/>
		<mapper resource=	"/com/semi/flix/mapper/Visit.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/AdminMember.xml"/>

		<mapper resource=	"/com/semi/flix/admin/mapper/MovieBoard.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/ToonBoard.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/AniBoard.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/EnterBoard.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/DramaBoard.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/User.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/Review.xml"/>
		<mapper resource=	"/com/semi/flix/admin/mapper/Mail.xml"/>
		
	</mappers>
	
</configuration>